{% extends 'layout.default.twig' %}

{% block left_sidebar %}
    <li class="active"><a href="/gajeweb/admin/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="/gajeweb/admin/image"><i class="fa fa-bar-chart-o"></i> Image</a></li>
    <li><a href="/gajeweb/admin/user"><i class="fa fa-table"></i> User</a></li>
    <li><a href="/gajeweb/admin/theme"><i class="fa fa-edit"></i> Theme</a></li>
    <li><a href="/gajeweb/admin/note"><i class="fa fa-edit"></i> Note</a></li>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1>Dashboard
                <small>Statistics Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
            <div class="alert alert-success alert-dismissable" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Welcome to SB Admin by <a class="alert-link" href="http://startbootstrap.com">Start Bootstrap</a>!
                Feel free to use this template for your admin needs! We are using a few different plugins to handle
                the dynamic tables and charts, so make sure you check out the necessary documentation links
                provided.
            </div>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}
